<div class="site_table_header_bg">
  <span></span>
</div>
<hr width="100%" class="site_table_header_border">
<table class="site_table_header">
    <tbody>
        <tr>
            <td class="site_name" style="padding-left: 5px; ">{{ app_name }}</td>

            <td class="news_categories" ng-if="current_news_cat != ''">
              <a ng-click="category_get(current_news_cat.initial)">{{ current_news_cat.name }}</a>
            </td>
            <td class="news_categories">
                <a ng-click="news_content('latest_news')">Latest</a>
            </td>
        </tr>
    </tbody>
</table>

<hr width="100%" class="site_table_header_border">
<br class="clearfloat" />
