@blue-lighten-2: #64b5f6 !important;
@blue-current_news: #039be5;

@news_item_title_color: #757575;

@img-news-thumb: 10px;
@news-item-brder: #ededed;

@top-rank-thumb: 60px;
@news-tag-color: #f5f5f5;
@right_panel_created: #aaa;

/* MIXINS */
.bottom-shadow {
  -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.28);
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.28);
}

html, body {
  height: 100% !important;
}

body {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 100%;
}

#main_stage {
    width: 100%;
}
#main_stage .main_nav_header {
    float: left;
    border-bottom: 1px solid #f1f1f1;
    margin: 0;
    padding: 0;
    width: 100%;
}


#main_stage .news_feeds {
    border: 1px solid #f1f1f1;
    padding-top: 0 !important;
    width: 67%;
    height: 100%;
    margin: 10px 0 0 5%;
    position: relative;
    z-index: 5;
    float: left;
}

#main_stage .news_feeds #news_category {
    margin-top: -42px;
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

table#news_list {
    padding: 5px;
    position: absolute;
    z-index: 2;
  &::-webkit-scrollbar { display: none; }

}

.site_table_header  {
    width: 40%;
    table-layout: fixed;
    position: relative;
    z-index: 3;
}
.site_table_header_bg {
  width: 100%;
  height: 67px;
  position: absolute;
  top: -19px;
  z-index: 2;
  -webkit-filter: blur(16px);
  filter: blur(10px);
  background-color: #fff;
  span {
    position: relative;
  }
}
.site_table_header_border {
    margin: 0;
    position: relative;
    z-index: 10;
}
.site_table_header tbody tr td.site_name {
    font-size: 15px;
    margin-right: 15px;
    width: 6%;
    border-right: 1px solid #f1f1f1;
    font-weight: 900;
}

.site_table_header tbody tr td.news_categories {
    border-right: 1px solid #f1f1f1;
    width: 8%;
    text-align: center;
}

.site_table_header tbody tr td.news_categories a {
    cursor: pointer;
    font-size: 13px;
}

#news_list {
  border-collapse:separate !important;
  border-spacing: 0px 8px;
}

#news_list  {
  tbody {
    tr.main_news_item {
      line-height: 99px !important;
      vertical-align: text-top;
      padding-bottom: 10px;
    }
  }
}

#news_list tbody tr td.index_number,
#news_list tbody tr td.rank_pos,
#news_list tbody tr td.headline_link,
.site_table_header tbody tr td {
  padding: 0 !important;
}

#news_list tbody tr td.index_number {
    color: #ccc;
    width: 25px;
    vertical-align: top;
}
#news_list tbody tr {
  td.news_thumb {
    position: relative;
    overflow: hidden;
    width: 19% !important;
    height: 15% !important;
    /*.bottom-shadow(); */
  &:hover {
    cursor: default;
    opacity: .8;
  }
    img.item_thumb {
      position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
      &:portrait {
        width: 100%;
        height: auto;
      }
      &:hover {
        // cursor: default;
      }
    }
  }
}
#news_list tbody tr td.rank_pos {
    width: 15px;
    vertical-align: top;
}
#news_list tbody tr td.rank_pos span {
    height: 10px;
}

#news_list tbody tr td.rank_pos span {
    font-size: 10px;
    color: green;
}

#news_list tbody tr td.headline_link {
    font-size: 13px;
    padding-left: 9px !important;
    line-height: 25px
}

#news_list tbody tr td.headline_link {
  .news_publisher {
    color: #ccc;
  }
  .news_tag {
    padding: 3px !important;
    a {
      color: @news-tag-color;
    }
  }
}


#news_list {
  tr {

    td {
      table.post_info {
        &:hover {
          color: #9e9e9e;
        }
        tr {
          td {
            &:hover {
              color: #9e9e9e;
            }
          }
        }
      }
    }
  }
}

span.provider_name a {
    font-size: 10px;
    font-style: italic;
    color: #ccc;
}

.post_info {
    font-size: 10px;
    font-style: italic;
    color: #ccc;
    width: auto;
}

.post_info td {
    padding: 0 5px 0 5px;
    border-right: 1px solid #f1f1f1;
    text-align: center;
}

.post_info td a {
    color: #ccc;
}

.news_item_page_discuss {
    padding: 5px;
    min-height: 200px;

    .social_share {
      width: 80%;
      margin: 0 auto;
      .twitter-share-button {
        position: relative !important;
        bottom: -8px !important;
      }
    }
}
.news_item_page_discuss h1 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
}

/* NEWS PAGE VIEW */
.news_title q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.news_title {
  color: @news_item_title_color;

  &:hover {
    text-decoration: none;
  }
}

/* OVERRIDE DISQUS THREAD LAYOUT */
#disqus_thread {
    width: 80%;
    margin: 0 auto;
}

/* FOOTER */
footer.page-footer {
  padding-top:0px !important;

  a {
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }
}

/* SPINNER */
.load-spinner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* CATEGORY MENU */
.category-menu {
  font-size: 3em;
}
.category-menu-link:hover {
  text-decoration: none;
}
.left_category_nav {
  li {
    a {
      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    &:hover {
      background-color: @blue-lighten-2;
    }
  }
}
.current_news_cat_name {
  color: @blue-current_news;
}

/* news_item top page */
.news_top_img {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  img {
    max-width: 50%;
  }
}

.top_rank_st {
  li {
    height: 116px;
    padding-left: 0px !important;
    .title {
      font-size: 15px;
    }
    .circle {
      height: @top-rank-thumb;
      width: @top-rank-thumb;
    }
    .news_tag {
      padding: 5px 5px 0 5px !important;
      margin-bottom: 2px;
      a {
        color: @news-tag-color;
      }
    }
    .right_panel_created_at {
      font-size: 12px;
      color: @right_panel_created;
    }
  }
}

.headline {
  width: 100%;
  margin-bottom: 0px;
  li.headline_item {
    display: inline !important;
    float: left;
    width: 100% / 3;
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    .card {
      margin-right: 0px !important;
      width: 99%;
      height: 240px;
      .card-title {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.parallax-jp {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: relative;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  background-color: #fff;
  transform: translateZ(0);
  position: absolute;
  top: 230px;
}
.parallax__layer--back {
  transform:translateZ(-1px) scale(2);
  position: absolute;
  z-index: 0;
}

/* NEWS INDEX RIGHT */
.index_right_wrap {
  // float: left;
  position: fixed;
  left: 72%;
  margin-left: 4px;
  width: 26%;
}
/* UTILS */
.clearfloat {
    clear: both;
}
.grid__item {
  top: 0;
  // padding-top: 10px !important;
  // padding: 0 !important;

  .news_tag {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding:5px 0px 2px 0px;
  }

  .item_image {
    padding-top: 5px;
    // width: 270px;
    max-width: 100%;
    max-height: 200px;
    text-align: center;
    overflow: hidden;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      // height: 100%;
      // width: auto;
      max-width: 100%;
      max-height: 500px;
      // height: auto;
      // -webkit-transform: translate(-50%,-50%);
    }
  }
  .news_item_title_link {
    color: @blue-lighten-2;
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    line-height: 2rem;
    font-size: 17px
  }

  &:before {
    top: 0 !important;
  }
  &:hover {
    text-decoration: none;
  }
}
